<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="base :: page">

<div th:fragment="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Dispositivos</h1>
                </div>
                <div class="panel-body">
                    <div>
                        <p>
                            <a th:href="@{/devices/create}" class="btn btn-success">Crear dispositivo</a>
                        </p>
                    </div>
                    <div>
                        <form action="" method="get" id="" class="form-inline">
                            <input type="hidden" name="page" th:value="${devicePage.number+1}"/>
                            <div class="form-group-sm">
                                <label for="size">Mostrar </label>
                                <select name="size" id="size" class="form-control" onchange="this.form.submit()">
                                    <option value="5" th:selected="${devicePage.size==5}">5</option>
                                    <option value="10" th:selected="${devicePage.size==10}">10</option>
                                    <option value="15" th:selected="${devicePage.size==15}">15</option>
                                    <option value="25" th:selected="${devicePage.size==25}">25</option>
                                    <option value="50" th:selected="${devicePage.size==50}">50</option>
                                </select>
                                <label for="size"> entradas.</label>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Table -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 20%;">ID (MAC)</th>
                            <th>Nombre</th>
                            <th style="width: 20%;">Usuario asignado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${devicePage.totalElements}==0">
                            <td colspan="2">No hay dispositivos.</td>
                        </tr>
                        <tr th:each="device : ${devicePage}">
                            <td th:text="${device.id}"></td>
                            <td th:text="${device.name}"></td>
                            <td th:text="${(device.user != null) ? nulldevice.user.id : 'No'}"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-footer" th:if="${devicePage.totalElements}>0">
                    <div style="float: left;"
                         th:with="from=${devicePage.number*devicePage.size+1}, to=${from+devicePage.numberOfElements-1}">

                        <p th:text="${'Mostrando '+from+' a '+to+' de '+devicePage.totalElements+' dispositivos.'}"></p>
                    </div>

                    <div style="float: right;"
                         th:with="currentPage=${devicePage.number+1},
                         firstPage=${1}, previousPage=${(devicePage.hasPrevious())?currentPage-1:firstPage},
                         lastPage=${devicePage.totalPages}, nextPage=${(devicePage.hasNext())?currentPage+1:lastPage}">

                        <a class="btn btn-default"
                           th:classappend="${!devicePage.hasPrevious()}?'disabled'"
                           th:href="@{/devices(page=${firstPage})}">
                            <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                        </a>

                        <a class="btn btn-default"
                           th:classappend="${!devicePage.hasPrevious()}?'disabled'"
                           th:href="@{/devices(page=${previousPage})}">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </a>

                        <span style="margin: 4px;" th:text="${'Página '+currentPage+' de '+devicePage.totalPages}"></span>

                        <a class="btn btn-default"
                           th:classappend="${!devicePage.hasNext()}?'disabled'"
                           th:href="@{/devices(page=${nextPage})}">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </a>

                        <a class="btn btn-default"
                           th:classappend="${!devicePage.hasNext()}?'disabled'"
                           th:href="@{/devices(page=${lastPage})}">
                            <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                        </a>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
