<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="base :: page">

    <div th:fragment="content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Home</h1>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sem nisi, pellentesque quis pulvinar at, ullamcorper id velit. Fusce a elit a elit tempus sagittis a non mauris. Proin sapien magna, lacinia non ex eu, pulvinar malesuada dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus augue quam, lobortis in purus vel, cursus lacinia purus. Nulla semper tincidunt lectus. Fusce accumsan scelerisque dapibus.</p>
                <p>Quisque porttitor, lorem vitae dictum vulputate, massa tellus pulvinar velit, a gravida dolor erat cursus quam. Vestibulum nec semper lectus. Sed eget vestibulum libero. Nunc eu fermentum nibh. Quisque eu lorem ac libero semper placerat at vitae justo. Cras ultrices leo ut lorem rhoncus, quis tempus orci aliquam. Etiam blandit neque id lacus fringilla, at hendrerit nisi consequat. Nam posuere ornare erat eget consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum tempus mauris eu fringilla tempus. Fusce scelerisque quam ullamcorper, ornare nibh a, sagittis neque. Suspendisse molestie pulvinar faucibus. Duis at turpis eu mauris convallis consequat. Etiam felis turpis, dapibus id dui ut, feugiat fermentum risus. Fusce finibus scelerisque quam, eu suscipit est elementum ut. Vestibulum lobortis venenatis tristique.</p>
                <p>Fusce condimentum nec risus eu bibendum. Aliquam pharetra elit in felis maximus mattis. In nisl nunc, finibus congue ultrices consequat, pellentesque nec ipsum. Integer aliquam, lorem sed aliquam pellentesque, velit mauris blandit felis, et tincidunt quam ante eu ligula. Etiam mollis vulputate consequat. Morbi suscipit pulvinar ipsum, ac vulputate elit. Nullam nec faucibus sem. Aenean lacinia rutrum metus a efficitur. Fusce id sodales velit, non blandit dui. Fusce fermentum dapibus neque nec mollis. Aliquam tellus odio, dictum ac leo sit amet, tempus auctor nunc. Aenean laoreet a mi non viverra. Proin sagittis, arcu eget euismod laoreet, nibh sem hendrerit libero, sit amet malesuada turpis magna eget arcu. Nullam quis fringilla urna, at venenatis sem. Quisque euismod tempus diam, id accumsan justo lobortis eget. Pellentesque ac nibh sit amet enim pulvinar pellentesque.</p>
            </div>
        </div>
    </div>

</html>
