<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:include="base :: page">

    <div th:fragment="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!--<h1 class="panel-title">Iniciar sesión</h1>-->
                        <h1 class="panel-title">New session</h1>
                    </div>
                    <div class="panel-body">
                        <form name="f" th:action="@{/login}" method="post">
                            <!--<div th:if="${param.error}" class="alert alert-danger">Credenciales inválidas.</div>-->
                            <div th:if="${param.error}" class="alert alert-danger">Valid credentials.</div>
                            <div class="form-group">
                                <!--<label for="username">Usuario</label>-->
                                <label for="username">User</label>
                                <input type="text" id="username" name="username" class="form-control" autofocus="autofocus" />
                            </div>
                            <div class="form-group">
                                <!--<label for="password">Contraseña</label>-->
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" class="form-control" />
                            </div>
                            <div class="form-actions">
                                <!--<button type="submit" class="btn btn-success">Iniciar sesión</button>-->
                                <button type="submit" class="btn btn-success">Start new session</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>
